body {
    /* Added a background image for the page */
    background-image: url("background.png");
    /* Center the background image */
    background-position: center;
    /* Fix the background during scroll */
    background-attachment: fixed;
    /* Cover the entire viewport */
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: 'Lilita One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 600px;
    margin-top :40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.logo{
    text-align: center;
    font-size : 2em;

    user-select: none;
    
}

.navigation{
    background-color:lightblue;
    border-radius: 6px;
}

.navigation a{
    
    position: relative;
    font-size : 1.1em;
    color: #ffff;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 40px;

}

 .btnLogin-popup{
    width: 130px;
    height : 50px;
    background: transparent;
    border : 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size : 1.1em;
    color : #ffff;
    font-weight: 500;

    margin-left : 1000px;
}

 .btnRegister-popup{
    width: 130px;
    height : 50px;
    background: transparent;
    border : 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size : 1.1em;
    color : #ffff;
    font-weight: 500;

    margin-left : 10px;
}

#RepButton{
    width: 140px;
    height: 70px;
    background: transparent;
    border : 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size : 1.1em;
    color : #ffff;
    font-weight: 500;
    margin-top: 40px;

}

.content-image {
    display: block;
    max-width: 100%;
    width: 450px;
    height: auto;
    margin: 15px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container {
    display: flex;
    flex-wrap: wrap; /* Ensures responsiveness */
    gap: 20px; /* Space between the two sections */
    justify-content: center; /* Center the content horizontally */
    padding: 20px;
}

.side-content{
    margin-left : 200px;
}

.mid-content{
    margin-left: 200px;
}