* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Helvetica Neue",sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
    background: url(back_image2.jpg) no-repeat center center/cover;

}
.wrapper{
    display : flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    background:transparent;
    color:#fff;
    padding:30px 40px;
    text-align: center;

}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    background:transparent;
    margin: 30px 0;
}
.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline:none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    right: 40%;
    top: 60%;
    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height:45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size:16px;
    color:#333;
    font-weight: 600;
}

.input-box .radio{
    display: flex;
    gap :10px;
    align-items: center;
    outline:none;
    border-radius:40px;
    font-weight: 400;
    right:15px;
    font-size:16px;
    width: 50%;
    height:40px;
    border: none;
}

.input-box .form-select{
    display: flex;
    justify-content: center;
    padding:10px;
    width:50%;
    align-items: center;
    border-radius: 40px;
    outline:none;

}

.input-box .tooltip {
    display: none;
    color: red;
    font-size: 14px;
    margin-left: 10px;
}

#msg{
    display:none;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}


.eye-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}

#Fire_Form {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    padding: 10%;
    margin:30px 0;
}

#earth {
    position: absolute;
    width: 20px;
    top:5%;
    transform: translateY(-90%);
    padding : 2px;
    margin : 30px 0;
    cursor: pointer;
    right: 20px;

}

#map {
    position: absolute;
    top : 25%;
    cursor:pointer;
    transform: translateY(-20%);
    align-items: center;
    border-radius: 10%;
    background: transparent ;
    background-color: #DCD0FF; /* Light lavender */
    color: #282050; /* Darker text color */
    margin: 10px;
    top : 10%;

}

#reset{
    border-radius : 30%;
    position: absolute;
    top : 25%;
    cursor:pointer;
    transform: translateY(-20%);
    align-items: center;
    background-color: #DCD0FF; /* Light lavender */
    color: #282050; /* Darker text color */
    margin: 10px;
    top : 10%;
}

#Map{
    transform: translateY(70%);
    transform: translateX(-50%);
}


input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 5px; /* Adjust if needed */
}


.bx.bx-envelope {
    font-size: 23px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}

.bx.bxs-user{
    font-size: 23px; /* Change the size of the icon */
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}

.button{
    padding:5px;
    border-radius: 40%;
    background: purple;
    position: absolute;
    margin : 10px;
}